<nav class="navbar navbar-dark navbar-expand-md bg-transparent position-absolute w-100">
    <a routerLink="/" class="navbar-brand text-shadow ms-3">
        <img src="assets/img/navbar_logo.png" alt="logo">        
    </a>
    <button class="navbar-toggler me-3" data-toggle="collapse" data-target="#main-nav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse m-3" id="main-nav">
        <ul class="navbar-nav ms-auto text-end text-shadow">
            <li class="nav-item">
                <a routerLink="/" class="nav-link fw-bold text-light">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/courses" class="nav-link fw-bold text-light">
                    Courses
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/services" class="nav-link fw-bold text-light">
                    Services
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/about" class="nav-link fw-bold text-light">
                    About
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/contact" class="nav-link fw-bold text-light">
                    Contact
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="/login" class="nav-link fw-bold text-light">
                    <span class="fa fa-user"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>